@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat|Architects+Daughter);
@import url(http://fonts.googleapis.com/css?family=BenchNine);
@import url(http://fonts.googleapis.com/css?family=Maven+Pro);

body {
  font-family: 'Maven Pro', Source Sans Pro, sans-serif;
}

p,
article {
  font-family: 'Maven Pro', sans-serif;
  font-size: 1.3rem;
}


.top {
  /*font-family: Verdana,Geneva,sans-serif;*/
  font-family: 'Maven Pro', sans-serif;
  width: 100%;
  font-size: 1.3rem;
  text-align: center;
  background-color: #a60000;
  background-repeat: repeat-x;
  padding-top: 10px;
  padding-bottom: 10px;
}
.top .text, .top .titre {
  color: #ffffff;
  display: inline-block;
  /*font-weight: bold;*/
}
.top .tel {
/*  font-family: 'Maven Pro', sans-serif;
  font-size: 1.3rem;*/
  display: inline-block;
  padding: 1px 3px;
  margin-right: 5px;
  margin-left: 5px;
  color: #a60000;
  font-weight: bold;
  text-decoration: none;
  background-color: #ffffff;
  border-radius:8px;
}
.top {
  display: none;
}

header {
  font-family: artifika;
  /*height: 274px;*/
}
header a {
  text-decoration: none;
}
header {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 300px;
}
header .sub-header {
  float: left;
}
img.logo {
  margin-top: 26px;
}
img.telephe {
  display: none;
}
img.panoramik {
  display: none;
}
header .text-header {
  float: right;
  padding-top: 20px;
}
header .text-header .text {
  font-size: 2rem;
}
header .text-header .text .horaires {
  font-size: 1.5rem
}


/*h1.header {
  font-size: 2em;
  color: #a60000;
}
h2.header {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.2em;
  color: #ffffff;
  text-align: center;
  background-color: #a60000;
  float: left;
  width: 100%;
}*/

hr.separateur {
  clear: both;
  border:  none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: 15px;*/
  height: 2px;
}
hr.separateur.rouge {
  background-color: #a60000;
}
hr.separateur.vert {
  background-color: #269926;
}
hr.separateur.thick {
  height: 20px;
}
nav {
  display: none;
}

section article {
  max-width: 960px;
  margin: auto;
  padding: 20px;
  text-align: justify;
}
section h1 {
  font-size: 2.5rem;
  color: #A60000;
  text-align: center;
}

#home {
  /*background: none repeat scroll 0% 0% #a60000;*/
  background: url("../../img/image.jpeg") no-repeat fixed center center / cover transparent;
}
#home p {
  color: #FFFFFF;
  background: none repeat scroll 0% 0% #a60000;
  padding: 40px;
  opacity: 0.8;
  border: solid 1px #a60000;
  border-radius: 10px;
}
#home article {
  padding: 60px 20px;
}

#menus {
  background: none repeat scroll 0% 0% #ffffff;
}
.menus {
  padding-left: 20px;
  padding-right: 20px;
}
.menus h1, .menus h2 {
  display:inline-block;
}
.menus h1 {
  color:#269926;
  font-size:1.3rem;
}
.menus h2 {
  font-size: 1.1rem;
}
.menu {
  width: 46%;
  min-width: 351px;
}
.menu.big-top {
  padding-top: 40px;
}
.plat {
  position: relative;
  text-align: right;
  white-space: nowrap;
  padding-top: 6px;
}
.menu .nom {
  font-size:1.1rem;
  color:#FE0000;
  float:left;
  position:relative;
}
.menu .ingredients {
  font-size:1rem;
  text-align:left;
  white-space:normal;
  border-bottom:1px solid #bcbcbc;
  padding-bottom: 2px;
}
.menu .prix {
  font-size: 1.1rem;
  position:relative;
  font-weight: bold;
}

footer {
  clear: both;
  width: 960px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 960px;
  color: #6d6c6c;
  text-align: center;
}
footer ul {
  list-style-type: none;
}
footer li {
  display: inline-block;
  margin-right: 40px;
}
footer img {
  max-width: 64px;
}




@media (max-width: 1024px) {
  header .sub-header {
/*    width: 95%;
    height: 284px;*/
  }
  h1.header {
    font-size: 1.5em;
  }
  header .telephe {
    display: none;
  }
  header .logo img {
    height: 180px;   
  }
  header .panoramik {
    display: inline;
  }
  header .panoramik img {
    width: 500px;
  }
  nav li a {
    font-size: 2rem;
  }
}

@media (max-width: 900px) {
/*  .menus h1 {
    font-size:1.1rem;
  }
  .menus h2 {
    font-size: 0.9rem;
  }*/
/*  .menu .nom {
    font-size: 1rem;
  }*/
/*  .menu .ingredients {
    font-size:0.8rem;
  }
  .menu .prix {
    font-size: 0.9rem;
  }*/
}



@media (max-width: 760px) {
  .top .text,
  header h1,
  header .panoramik,
  nav.big {
    display: none;
  }
  header .sub-header {
    text-align: left;
  }
  header .logo {
    display: inline-block;
  }
  header .logo img {
    height: 70px;
  }

  .menu.align-left,
  .menu.align-right {
    float: none;
    text-align: center;
    width: 100%;
  }
  .menus h1 {
    font-size: 1.7rem;
  }
  .menus h2,
  .menu .nom,
  .menu .prix {
    font-size: 1.4rem;
  }
  .menu .ingredients {
    font-size: 1.2rem;
  }
}





.align-left {
  float: left;
}
.align-right {
  float: right;
}