section p {
  margin-top: 20px;
  font-family: "Source Sans Pro", "trebuchet ms";
  font-size: 16px;
  text-align: justify;
}
section img {
  margin: 20px;
}
article.suggestion {
  /*clear: both;*/
  background-color: #1c1212;
  color: #ffffff;
  width: 460px;
  border: 10px solid #1c1212;
  margin-bottom: 20px;
  font-family: 'Walter Turncoat', "trebuchet ms";
  font-weight: 400;
}
h1.suggestion  {
  font-size: 1.5em;
  margin-left: 15px;
  margin-bottom: 10px;
  text-align: left;
}
h2.suggestion  {
  font-size: 1.3em;
  text-align: right;
  margin-right: 15px;
}
ul.suggestion  {
  list-style-type: none;
  margin-left: 15px;
}
li.suggestion  {
  margin-left: 5px;
  font-size: 1em;
}
li.suggestion .ingredients {
  font-size: 0.8em;
}