.menus h1, .menus h2 {
  display:inline-block;
}
.menus h1 {
  color:#269926;
  font-size:1.2em;
}
.menus h2 {
  font-size:1em;
  font-weight:600;
}
.menu {
  width: 450px;
  padding:10px;
  margin:5px;
  float:left;
}
.plat {
  position: relative;
  text-align: right;
  white-space: nowrap;
}
.menu .filler {
  position: absolute;
  left: 0;
  right: 0;
}
.menu .nom {
  font-size:0.9em;
  color:#FE0000;
  float:left;
  position:relative;
}
.menu .ingredients {
  font-size:0.8em;
  text-align:left;
  white-space:normal;
  border-bottom:1px solid #bcbcbc;
}
.menu .prix {
  font-size:0.8em;
  position:relative;
}