@font-face {
  font-family: 'Maven Pro Regular';
  src: url(fonts/maven_pro/MavenPro-Regular.ttf);
}

body {
  font-family: /*'trebuchet ms', */'Maven Pro Regular', sans-serif;
}

p,
article {
  font-size: 1.3rem;
}

.align-justify {
  text-align: justify;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.fixed {
  position: fixed;
  top: 0px;
  z-index: 10;
  overflow-y: auto;
}
strong {
  color: #269926;
  font-weight: bold;
}
#top {
  width: 100%;
  height: 58px;
  font-size: 1.3rem;
  text-align: center;
  background-color: #FFFFFF;
  /* background-repeat: repeat-x; */
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 10px #000000;
  position: fixed;
  top: 0px;
  z-index: 10;
  /* overflow-y: auto; */
  overflow: hidden;
}
#top .titre {
  /* color: #a60000; */
  display: inline-block;
  font-size: 2rem;
  vertical-align: middle;
}
#top .tel {
  display: inline-block;
  /* padding: 1px 3px; */
  padding-top: 5.5px;
  padding-left: 3px;
  margin-right: 5px;
  margin-left: 5px;
  color: #a60000;
  font-weight: bold;
  text-decoration: none;
  background-color: #FFFFFF;
  border-radius:8px;
  vertical-align: middle;
}

/*header a {
  text-decoration: none;
}*/
header {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  margin-bottom: 10px;
  text-align: center;
}
header .sub-header,
#top .sub-header {
  display: inline-block;
  width: 184px;
}
header .sub-header {
  margin-top: 10px;
}
.logo-top {
  position: relative;
  top: -25px;
}
/*
img.telephe {
  display: none;
}
img.panoramik {
  display: none;
}*/
header .text-header,
#top .text-header {
  display: inline-block;
  /* padding-left: 5%; */
  text-align: left;
  width: 643px;
  vertical-align: top;
}
header .text-header {
  padding-top: 35px;
}
#top .text-header {
  padding-top: 13px;
}
header .text-header .text {
  font-size: 2rem;
}
header p.big {
  font-size: 5rem;
}
header .text-header .text .small {
  font-size: 1.5rem
}
header .langues,
#top .langues {
  display: inline-block;
  vertical-align: top;
  /* width: 49px; */
}
header .social {
  padding-top: 10px;
}
header .langues {
  padding-top: 150px;
  padding-left: 10px;
}
#top .langues {
  padding-top: 7px;
  margin-left: 10px;
}
img.flag {
  /* border: 1px solid #000000; */
  width: 48px;
}
#top #localizeENT {
  padding-left: 5px;
}
/*
nav {
  display: none;
}*/


section.back-image {
  padding: 200px 0px 200px 0px;
}
section.back-image article {
  color: #000000;
  background: none repeat scroll 0% 0% #FFFFFF;
  /*opacity: 0.9;*/
  border: solid 1px #FFFFFF;
  border-radius: 10px;
}
section.back-white {
  padding-top: 40px;
  padding-bottom: 40px;
}
section article {
  margin: auto;
}
section article {
  max-width: 960px;
  text-align: justify;
  margin: auto;
  padding: 40px;
}
section article h1 {
  font-size: 2.5rem;
  color: #A60000;
  padding-bottom: 20px;
}
/*section article p.h12 {
  font-size: 1.5rem;
  padding-bottom: 20px;
}*/
section article h2 {
  color: #269926;
  font-size: 1.3rem;
}
section article h3 {
  font-size: 1.1rem;
}


/*
 *
 * ~ Section Présentation
 *
 */


#home {
  background: url("../img/roulotte jardin.jpg") no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*
 *
 * ~ Section Nos Pizzas
 *
 */
section#menus {
  background: none repeat scroll 0% 0% #ffffff;
  /* height: 884px; */
  /* display: inline-block; */
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
article.menus {
  padding: 0 20px 0 20px;
}
article.menus h2,
article.menus h3 {
  display:inline-block;
}
article.menus h2 {
  font-weight: bold;
}

/*.menu {
  width: 46%;
  min-width: 351px;
}*/
/*.menu.left {
  float: left;
}
.menu.right {
  float: right;
}*/
#menus12 {
  text-align: center;
}
#menus1,
#menus2 {
  /* min-width: 351px; */
  width: 46%;
  display: inline-block;
  vertical-align: top;
  /* For IE 7 */
  zoom: 1;
  *display: inline;
}
#menus1 {
  padding-right: 20px;
}
#menus2 {
  padding-left: 20px;
}
.menu.big-top {
  padding-top: 40px;
}
.plat {
  position: relative;
  text-align: right;
  white-space: nowrap;
  padding-top: 6px;
}
.nom {
  font-size:1.1rem;
  color:#FE0000;
  float:left;
  position:relative;
}
.ingredients {
  font-size:1rem;
  text-align:left;
  white-space:normal;
  border-bottom:1px solid #bcbcbc;
  padding-bottom: 2px;
}
.prix {
  font-size: 1.1rem;
  position:relative;
  font-weight: bold;
}


/*
 *
 * ~ Section Nous Trouver
 *
 */
#access {
  background: url("../img/image.jpeg") no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#access article {
  height: 551px;
}
#access article p {
  padding-bottom: 20px;
}
#access h2 {
  padding-bottom: 10px;
}
#access .texte,
#access .carte {
  max-width: 46%;
}
#access a img {
  width: 150px;
}
/*
 *
 * ~ Section Pied de page
 *
 */

footer {
  clear: both;
  width: 960px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 960px;
  color: #6d6c6c;
  text-align: center;
}
footer ul {
  list-style-type: none;
}
footer li {
  display: inline-block;
  margin-right: 40px;
}
footer img {
  max-width: 64px;
}




@media (max-width: 1024px) {
  header .sub-header {
  }
  h1.header {
    font-size: 1.5em;
  }

@media (max-width: 900px) {
}



@media (max-width: 760px) {
  .top .text,
  header h1,
  header .panoramik,
  nav.big {
    display: none;
  }
  header .sub-header {
    text-align: left;
  }
  header .logo {
    display: inline-block;
  }
  header .logo img {
    height: 70px;
  }

  section#menus {
    height: auto;
  }
  /*.menu,
  .menu.left,
  .menu.right {
    float: none;
    width: 80%;
    margin: auto;
    text-align: center;
  }*/
  #menus1,
  #menus2 {
    width: 80%;
    padding: 0;
  }
  #bianca {
    padding-top: 40px;
  }
  .menus h1 {
    font-size: 1.7rem;
  }
  .menus h2,
  .menu .nom,
  .menu .prix {
    font-size: 1.4rem;
  }
  .menu .ingredients {
    font-size: 1.2rem;
  }
}





